@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  html {
    font-family: 'Montserrat';
  }
}

#page-numbers li {
  display: inline-block;
}

#page-numbers li button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#page-numbers li button.active {
  background-color: #007bff;
}